.add_div{
  display: flex;
  flex-direction: column;
}
.headingadd{
  font-size: larger;
}
.add_Event_Main{
  display: grid;
 align-items: center;
 justify-content: center; 
 height: 100vh;
}

.add_div >input,button{
  margin-top: 10px;
  padding: 10px;
}

.add_div button{
     
     padding: 10px;
     font-size: medium;
     border-radius: 5px;
     background-color: black;
     color: white;
     cursor: pointer; 
     margin-bottom: 10px;
}

/* .date_div{
  display: grid;
  align-items: center;
  justify-content: center;
} */

.date_div input{
  padding: 5px;
}

.add_form_button{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.add_form_button button{
  color: white;
  background-color: black;
  border-radius: 3px;
}

.description{
  height: 150px;
  padding: 10px;
}

.add_div select{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.submitButton{
  color: white;
  background-color: black;
  border-radius: 3px;
}
.selectfile:hover{
cursor: pointer;
}

