.list_Main{
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
}
.headingadd{
    display: grid;
    justify-content: center;
}
.event_list_Main{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap:20px;
    align-items: center;
    margin-left: 10px;
   
}
.event_list_Main>div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.banner{
    width:250px
}

.list_event_filter_main{
    display:flex;
    margin-top: 50px;
}
.check_box{
    display:flex;
    align-items: center;
}
.event_list_find{
    display:flex;
    justify-content: right;
    align-items: center; 
}

.normalFlexColumn{
    display: flex;
    flex-direction: column;
}
.event_list_find{
    margin-right: 30px;
    
}

.event_list_find > button{
     width: 80px;
     padding: 10px;
     font-size: medium;
     border-radius: 5px;
     background-color: black;
     color: white;
     cursor: pointer; 
     margin-bottom: 10px;
     
}
.check_box input:hover{
    cursor: pointer;
}

.event_list_find select{
padding: 10px;
border-radius: 5px;
font-size: medium;
}

.Date{
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    border: 1px solid black;
}



.generalFlex{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.CardDiv{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    
}

.CardDiv p{
    text-align: start;
}

.downloadIcon{
    display: grid;
    justify-content: right;
    width: auto;
    margin: 10px;

}

.downloadIcon img{
    height: 70px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.downloadIcon:hover{
    cursor: pointer;
}

.downloadIcon:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
 
}
a{
    text-decoration: none;
}

 

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
   .event_list_Main{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap:20px;
    align-items: center;
    margin-left: 50px;
   }
}

.uploadSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.add_div{
    display: flex;
    flex-direction: column;
  }
  .headingadd{
    font-size: larger;
  }
  .add_Event_Main{
    display: grid;
   align-items: center;
   justify-content: center; 
   height: 100vh;
  }
  
  .add_div >input,button{
    margin-top: 10px;
    padding: 10px;
  }
  
  .add_div button{
       
       padding: 10px;
       font-size: medium;
       border-radius: 5px;
       background-color: black;
       color: white;
       cursor: pointer; 
       margin-bottom: 10px;
  }
  
  .date_div input{
    padding: 5px;
  }
  
  .add_form_button{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .add_form_button button{
    color: white;
    background-color: black;
    border-radius: 3px;
  }
  
  .description{
    height: 150px;
    padding: 10px;
  }
  
  .add_div select{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .submitButton{
    color: white;
    background-color: black;
    border-radius: 3px;
  }
  .selectfile:hover{
  cursor: pointer;
  }
  

  
  @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
   
}
h1, h2, h3, h4, h5, h6, p{
  letter-spacing: 1px;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

/* FILE UPLOAD */

.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 400px;
  width: 400px;
  border: 5px dashed rgb(117, 112, 112);
  padding: 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.dropMain{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.active {
  background-color: #5f5959;
}

button {
  padding: 1rem;
  margin: 1rem;
  font-size: medium;
}
 
.uploads{
  display: grid;
  justify-content: center;
  margin-top: 30px;
  width: 500px;
  align-items: center;
}

.main{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

button{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  .progress-wrapper {
    display: inline-block;
    background: #f8f8f8;
    border-radius: 10px;
    height: 10px;
    width: 580px;
  }
  
  .demo-css .progress-inner {
    border-radius: 10px;
    background: #f44;
    height: 10px;
    transition: width 400ms cubic-bezier(0.08, 0.82, 0.17, 1);
  }
  
  .progress-info {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: #999;
  }

  .deleteIcon{
    width: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .deleteDiv{
    display: grid;
    justify-content: right;
  }

  .deleteIcon:hover{
  cursor: pointer;
  }